<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>

    <style>
        body { font-family: Arial; background: #eef3ff; padding: 40px; }
        .box { background: white; padding: 25px; width: 600px; margin: auto; border-radius: 12px; }
        a { text-decoration: none; }
    </style>
</head>

<body>

<div class="box">
    <h2>Tentang Kami</h2>
    <p>Medicine Predictor Team:</p>

    <ul>
        
        <li>👤 Dimas Alvin Adirangga</li>
        <li>👤 Muhammad Gibran Ali Hasballah</li>
	<li>👤 Christopher Kurniawan</li>
	<li>👤 Rajiv Candra Utama</li>

    </ul>

    <br>
    <a href="/" style="color: blue;">← Kembali ke Home</a>
</div>

</body>
</html>
