<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>

    <style>
        body { font-family: Arial; background: #eef3ff; padding: 40px; }
        .box { background: white; padding: 25px; width: 600px; margin: auto; border-radius: 12px; }
        a { text-decoration: none; }
    </style>
</head>

<body>

<div class="box">
    <h2>Kontak Kami</h2>

    <p><b>Instagram:</b> @alvindimasss</p>
    <p><b>WhatsApp:</b> +62 855-2462-4779</p>

    <br>
    <a href="/" style="color: blue;">← Kembali ke Home</a>
</div>

</body>
</html>
